.venv
.env

db.sqlite3

Switch2onlin677/__pycache__
accounts/__pycache__
api/__pycache__
agent_manage/__pycache__
conversation/__pycache__
conversation/management/commands/__pycache__
leads/__pycache__

media
